<div data-controller="comparison-implementation-row-component--comparison-implementation-row-component" role="row">
  <div role="rowheader" class="">
    <%= t(".#{implementation_name}") %>
  </div>
  <% comparison.comparison_items.each do |item| %>
    <%= render_implementation_cell(item.solution) %>
  <% end %>
</div>
