/* Add styles for this component */
.m-comparison-bar-item {
  position: relative;
  min-block-size: 5.25rem;
  min-inline-size: 17.875rem;
  max-inline-size: 20.625rem;
  flex-basis: 25%;
  @apply rounded-md;
  @apply py-4 ps-5 pe-10;

  &:has(.m-comparison-bar-item__add-more) {
    @apply border border-brand-mint border-dashed;
    @apply pt-5;
    @apply pe-5;
  }

  &__add-more {
    display: block;
    text-align: center;
    @apply text-brand-mint;
    @apply text-sm;
  }

  &__close {
    position: absolute;
    inset-block-start: 0.625rem;
    inset-inline-end: 0.4625rem;
  }
}
