/* Add styles for this component */
.m-comparison-bar-item {
  position: relative;
  flex-basis: 25%;
  @mixin fluidScaleRem min-block-size, 75px, 60px;
  @mixin fluidScaleRem padding-block, 16px, 10px;
  @mixin fluidScaleRem padding-inline, 20px, 16px;
  @apply w-comparison-item;
  @apply rounded-md;

  &:has(.m-comparison-bar-item__close) {
    @mixin fluidScaleRem padding-inline-end, 40px, 30px;
  }

  &:has(.m-comparison-bar-item__add-more) {
    @apply border border-brand-mint border-dashed;
  }

  &__add-more {
    display: block;
    text-align: center;
    @apply text-brand-mint;
    @apply text-sm;
  }

  &__close {
    position: absolute;
    inset-block-start: 0.625rem;
    inset-inline-end: 0.4625rem;
  }
}
