<%= turbo_frame_tag "flash-messages", target: "_top" do %>
  <% if flash.any? %>
    <div class="l-container" data-controller="flash-messages-component--flash-messages-component">
      <div class="l-container__inner flex flex-col items-center justify-center pt-8">
        <% flash.each do |type, message| %>
          <%= render FlashMessageComponent.new(type:, message:) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
