.git
*~
*.swp
*.swo
.*.swn
.do
/bin/console
/bin/dbconsole
/docker
/docker/minio
!/docker/common
!/docker/dev
!/docker/prd
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/log
/node_modules
/tmp
/vendor/cache
