<%-
  # vim: set ft=ruby.eruby nosmartindent noautoindent :
-%>
# frozen_string_literal: true

RSpec.describe <%= class_name %>, type: :model do
  it_behaves_like "a controlled vocabulary record"
end
