.save-draft__button {
  /* The surrounding back-to-top row is pointer-events: none; re-enable here */
  pointer-events: all;
  min-inline-size: 11rem;

  @media screen and (max-width: theme("screens.md")) {
    padding-inline: 1rem;
  }
}
