<div data-controller="share-bar-component--share-bar-component" class="l-container">
  <div class="l-container__inner pt-8 flex justify-end" data-share-bar-component--share-bar-component-target="wrapper">
    <button
      class="m-button m-button--sm"
      data-action="click->share-bar-component--share-bar-component#share">
      <span><%= t(".share") %></span>
      <%= image_tag "icons/16/Share.svg", alt: "" %>
    </button>
  </div>
</div>
