.solution-details {
  position: relative;
  scroll-padding-top: 4.25rem;
}

.solution-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 2rem;
  row-gap: 2.6875rem;
  padding-block: 3.75rem;

  @media screen and (min-width: theme("screens.lg")) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__text {
    @apply space-y-5;

    @media screen and (min-width: theme("screens.lg")) {
      padding-block-start: 24px;
      flex-basis: theme("maxWidth.text");
    }
  }

  &__figure {
    flex: 0 0 auto;
    inline-size: 15rem;
    max-inline-size: 100%;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 1rem;
    background-color: theme("colors.white");
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    object-fit: contain;
    max-inline-size: 100%;
    min-inline-size: 50%;
    height: auto;
    aspect-ratio: 1/1;
  }
}

.solution-articles {
  padding-block-end: 6.25rem;

  > article {
    @mixin fluidScaleRem padding-block-start, 80px, 60px;
    @apply space-y-[2.5rem];
    @apply sm:space-y-[3.75rem];

    /* About has a slightly smaller gap */
    &.solution-articles__about {
      @apply space-y-[2.25rem];
      @apply sm:space-y-[2.8125rem];
    }
  }

  > article > div > h3 {
    @apply text-h4;
    padding-block-end: 1.5rem;
  }
}

.solution-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;

  > * {
    flex-basis: 19.6875rem;
  }
}

.org-structure-card {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  justify-content: space-between;
  border-radius: 1.25rem;
  background-color: theme("colors.white");
  padding-block-end: 2rem;
  overflow: hidden;

  > * {
    padding-inline: 2rem;
  }

  > h4 {
    @apply font-body text-base;
    background-color: theme("colors.brand.mint");
    padding-block-start: 1.5rem;
    padding-block-end: 1.25rem;
  }
}
