<div data-controller="solution-sort-component--solution-sort-component" class="solutions-sort min-h-resultsBar bg-neutral-20">
  <%= search_form_for solution_search, **search_form_options do |f| %>
    <%= f.label :s, t('.sort_label'), class: "text-h6 font-normal" %>
    <%= f.select :s, options_for_select([
                                          [t('.date_desc_option'), 'created_at desc'],
                                          [t('.title_asc_option'), 'title asc'],
                                          [t('.title_desc_option'), 'title desc']
                                        ], params.dig(:q, :s)) %>
  <% end %>
</div>
