<div data-controller="comparison-blurb-row-component--comparison-blurb-row-component"
  role="row"
  class="m-table__row">
  <div role="rowheader" class="m-table__rowheader">
    <%= t(".#{name}") %>
  </div>
  <%= render ComparisonBlurbCellComponent.with_collection(comparison.comparison_items, name:) %>
</div>
