<div data-controller="implementation-detail-component--implementation-detail-component">
  <h3 class="leading-relaxed text-base text-white dark:text-gray-300"><%= implementation_name %></h3>
  <p>Availability: <%= available? ? "available" : "not available" %>
</div>
