<div data-controller="implementation-detail-component--implementation-detail-component">
  <div class="leading-relaxed text-light"><%= implementation_name %></div>
  <p>Availability: <%= available? ? "available" : "not available" %>
</div>
