<% if available? %>
  <div data-controller="implementation-detail-component--implementation-detail-component">
    <div class="text-h5"><%= t(".#{implementation_name}") %></div>
    <div class="m-badge-sm mt-[1.125rem]">
      <%= image_tag "/icons/16/Checkmark.svg", alt: "" %>
      <%= t(".available") %>
    </div>
  </div>
<% end %>
