<%= turbo_frame_tag "solutions-list", class: "", target: "_top" do %>
  <section data-controller="solutions-component--solutions-component">
    <% if solutions.present? %>
      <div class="grid grid-cols-solutionsList gap-4">
        <%= render SolutionComponent.with_collection(solutions, comparison:) %>
      </div>
    <% else %>
      <div>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
           <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
        <h2 class="text-white dark:text-white text-lg font-medium"><%= t(".no_solutions_found") %></h2>
      </div>
    <% end %>
  </section>
<% end %>
