<div data-controller="implementation-component--implementation-component">
  <h3 class="leading-relaxed text-base text-white dark:text-gray-300"><%= implementation_name %>: <%= available? ? "available" : "not available" %></h3>

</div>
