<div data-controller="implementation-component--implementation-component">
  <div class="leading-relaxed text-light"><%= implementation_name %>: <%= available? ? "available" : "not available" %></div>

</div>
