/* In the interest of time & reduced complexity,
background classes will extend tailwind's 'bg-' pattern. */
[class*="bg-"] {
  color: var(--color);
  accent-color: var(--accent-color);
}

.bg-black {
  --color: theme("colors.neutral.10");
  --color-light: theme("colors.neutral.40");
  --outline-color: theme("colors.black");
}

.bg-neutral-20 {
  --border-color: theme("colors.neutral.60");
}

/* A short line rendered after a block or heading */
.a-underline {
  &::after {
    display: block;
    content: "";
    block-size: 0px;
    inline-size: 5rem;
    margin-block-start: 1.5rem;
    border-bottom: 0.375rem solid var(--color);
  }

  &--lt::after {
    inline-size: 3.9375rem;
    border-bottom: 0.3125rem solid var(--border-color);
  }
}

.a-hidden {
  @apply hidden;
}
