.l-container {
  @apply @container;

  &--narrow {
    --container-inline-size: theme("maxWidth.narrow");
  }

  &__inner {
    inline-size: 100%;
    max-inline-size: calc(
      var(--container-inline-size) + 2 * var(--container-padding-inline)
    );
    margin-inline: auto;
    padding-inline: var(--container-padding-inline);
  }
}

.l-back-container {
  display: grid;
  grid-template-columns: 1fr 0px;

  > *:first-child {
    /* Leave room for the back to top button at the bottom of the page */
    padding-bottom: 100px;
  }
}

.l-max-inline-size-none {
  --max-inline-size: none;
}
