/* In the interest of time & reduced complexity,
use tailwind's text-[name] classes for font sizes. */
:is(
    .text-h1,
    .text-h2,
    .text-h3,
    .text-h4,
    .text-h5,
    .text-h6,
    .text-label,
    .text-staff
  ) {
  @apply font-header;
  @apply max-w-text;
}

.t-rte {
  @apply max-w-text;

  & + & {
    margin-block-start: 1.5rem;
  }

  > :where(:not(meta):not(:empty)) + * {
    margin-block-start: 1.5rem;
  }

  ul,
  ol {
    padding-inline-start: 1.25rem;
    list-style: revert;
  }

  ul > li,
  > li {
    list-style: none;
    /* list-style-position: inside; */

    &::before {
      content: "■";
      font-size: 0.6875rem;
      line-height: 0;
      inset-block-start: -0.125rem;
      margin-inline-end: 0.3rem;
      margin-inline-start: -1.25rem;
      position: relative;
      color: theme("colors.brand.mint");
    }
  }

  ol > li::marker {
    color: var(--color);
  }

  ul > br,
  ol > br {
    display: none;
  }

  li + li {
    margin-block-start: var(--rte-li-margin-block-start, 1rem);
  }

  > li {
    padding-inline-start: 1.25rem;

    &::before {
      margin-inline-start: -1.25rem;
    }
  }

  a {
    text-decoration-line: underline;
    word-break: break-word;
  }

  > p + br,
  > li + br {
    display: none;
  }
}


.t-other-text {
  font-size: 0.875rem;
  line-height: 1.571;

  > h3, strong {
    display: block;
    margin-block-end: 0.25em;
    font: inherit;
    font-weight: bold;
    letter-spacing: inherit;
  }
}