* {
  border-color: var(--border-color);
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: theme("colors.neutral.10");
  color: var(--color);
}

:is(
    [href],
    button,
    input,
    textarea,
    summary,
    select,
    [tabindex],
    [draggable],
    area,
    object,
    iframe,
    .m-button
  ) {
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:focus-visible {
    @mixin a-default-outline;
  }

  .bg-black & {
    --outline-color: theme("colors.white");
  }

  .bg-brand-mint & {
    --outline-color: theme("colors.black");
  }
}

a:not(class):hover {
  text-decoration: underline;
}

button:not([class]),
input[type="submit"]:not([class]),
.m-button {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.6875rem;
  padding-block: 0.875rem;
  padding-inline: 1.5rem;
  color: var(--color);
  background-color: theme("colors.neutral.20");

  &:not(:disabled, [aria-disabled]) {
    cursor: pointer;

    &:hover {
      background-color: theme("colors.neutral.30");
    }

    &.bg-black:hover {
      background-color: theme("colors.neutral.70");
    }

    &.bg-brand-mint:hover {
      background-color: theme("colors.brand.mint-dark");
    }
  }

  &:hover {
    text-decoration: none;
  }

  > svg {
    flex: 0 0 auto;

    &:last-child {
      margin-inline-end: -0.25rem;
    }

    &:first-child {
      margin-inline-start: -0.25rem;
    }
  }
}

:is([type="search"], select, textarea, [type="search"]) {
  @apply truncate;
  background-color: var(--accent-color);
  border: transparent;
}

:is(select) {
  background-image: url("/icons/16/Disclosure-Down.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
}

:is(input[type="checkbox"], input[type="radio"]) {
  accent-color: theme("colors.white");

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:focus-visible {
    @mixin a-default-outline;
  }
}

svg {
  fill: currentColor;
}

hr {
  border-top: 0.125rem solid var(--border-color);
  margin-block: 2.0625rem;
}
