* {
  border-color: var(--border-color);
}

body {
  background-color: theme("colors.neutral.10");
  color: var(--color);
}

a,
button,
input,
.m-button {
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @mixin a-default-outline;
  }
}

a:not(.m-button):hover {
  text-decoration: underline;
}

button,
input[type="submit"],
.m-button {
  display: inline-flex;
  justify-content: space-between;
  gap: 11px;
  padding-block: 13px;
  padding-inline: 24px;
  background-color: theme("colors.neutral.20");
  color: inherit;

  > svg {
    flex: 0 0 auto;

    &:last-child {
      margin-inline-end: -4px;
    }

    &:first-child {
      margin-inline-start: -4px;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: theme("colors.white");
}

svg {
  fill: currentColor;
}

hr {
  border-top: 0.125rem solid var(--border-color);
  margin-block: 2.0625rem;
}
