* {
  border-color: var(--border-color);
}

body {
  background-color: theme("colors.neutral.10");
  color: var(--color);
}

:is(
    [href],
    button,
    input,
    textarea,
    summary,
    select,
    [tabindex],
    [draggable],
    area,
    object,
    iframe,
    .m-button
  ) {
  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:focus-visible {
    @mixin a-default-outline;
  }
}

a:not(.m-button):hover {
  text-decoration: underline;
}

button:not([class]),
input[type="submit"]:not([class]),
.m-button {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.6875rem;
  padding-block: 0.875rem;
  padding-inline: 1.5rem;
  color: var(--color);

  &:not(:disabled, [aria-disabled]) {
    cursor: pointer;
  }

  &:not([class*="bg-"]) {
    background-color: theme("colors.neutral.20");
  }

  > svg {
    flex: 0 0 auto;

    &:last-child {
      margin-inline-end: -0.25rem;
    }

    &:first-child {
      margin-inline-start: -0.25rem;
    }
  }
}

:is([type="search"], select, textarea, [type="search"]) {
  @apply truncate;
  background-color: var(--accent-color);
  border: transparent;
  font-size: inherit;
  padding: 0;
}

:is(input[type="checkbox"], input[type="radio"]) {
  accent-color: theme("colors.white");

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:focus-visible {
    @mixin a-default-outline;
  }
}

svg {
  fill: currentColor;
}

hr {
  border-top: 0.125rem solid var(--border-color);
  margin-block: 2.0625rem;
}
