@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "BW Gradual";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/BwGradual-Bold.woff2) format("woff2"),
    url(/BwGradual-Bold.woff) format("woff");
}

@font-face {
  font-family: "BW Gradual";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/BwGradual-BoldItalic.woff2) format("woff2"),
    url(/BwGradual-BoldItalic.woff) format("woff");
}

@font-face {
  font-family: "BW Gradual";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/BwGradual-Medium.woff2) format("woff2"),
    url(/BwGradual-Medium.woff) format("woff");
}

@font-face {
  font-family: "BW Gradual";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/BwGradual-MediumItalic.woff2) format("woff2"),
    url(/BwGradual-MediumItalic.woff) format("woff");
}
