:root {
  --color: theme("colors.black");
  --color-light: theme("colors.neutral.70");
  --accent-color: theme("colors.brand.mint");
  --outline-width: 0.125rem;

  /* Containers */
  @mixin fluidScaleRem --container-padding-inline, 44px, 24px;
  --container-inline-size: theme("maxWidth.base");

  /* Root variables from IOI's website */
  --white: theme("colors.white");
  --white2: #f7f7f7;
  --grey: #707070;
  --grey2: #888888;
  --black: theme("colors.black");
  --yellow: #ffde17;
  --yellow2: #fce59d;
  --green: #83fed1;
  --green2: #b6fcdf;
  --blue: #9aeef7;
  --orange: #ffbea1;
  --orange2: #ffd9a1;

  --font1: theme("fontFamily.body");
  --font2: theme("fontFamily.header");
  /* --font3: "Gloock", serif; */

  --vhs: 3rem;
}
