:root {
  --color: theme("colors.black");
  --color-light: theme("colors.neutral.70");
  --accent-color: theme("colors.white");
  --border-color: theme("colors.neutral.30");

  /* Focus states */
  --outline-width: 0.125rem;
  --outline-color: var(--color);
  --outline-offset: var(--outline-width);

  /* Containers */
  @mixin fluidScaleRem --container-padding-inline, 44px, 16px;
  --container-inline-size: theme("maxWidth.base");

  /* Nav bar */
  @mixin fluidScaleRem --nav-bar-inline-padding, 36px, 8px;
  @mixin fluidScaleRem --nav-bar-height, 54px, 44px;

  /* Solution Filters */
  --solution-filters-padding: 2.25rem;

  /* Root variables from IOI's website */
  --white: theme("colors.white");
  --white2: theme("colors.neutral.10");
  --grey: theme("colors.neutral.70");
  --grey2: theme("colors.neutral.60");
  --black: theme("colors.black");
  --yellow: theme("colors.brand.yellow");
  --yellow2: theme("colors.brand.yellow-tint");
  --green: theme("colors.brand.mint");
  --green2: theme("colors.brand.mint-tint");
  --blue: theme("colors.brand.blue");
  --orange: theme("colors.brand.orange");
  --orange2: theme("colors.brand.orange-tint");

  --font1: theme("fontFamily.body");
  --font2: theme("fontFamily.header");

  --vhs: 3rem;
}
