<div data-controller="back-to-top-component--back-to-top-component"
  class="back-to-top">
  <div class="back-to-top__inner <%= class_name %>">
    <a href="#main"
      class="m-button m-button--lg bg-black back-to-top__link"
      data-back-to-top-component--back-to-top-component-target="link">
      <span class="back-to-top__text"><%= t(".back_to_top") %></span>
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="presentation">
        <path d="M10.9276 7.73971L13.0993 9.79671L13.0993 22H10.9276L10.9276 7.73971ZM11.8174 2.19002C9.06668 4.9347 6.31898 7.6824 3.56524 10.4241C3.50794 10.4814 3.42047 10.5115 3.37523 10.5357C3.92718 11.0876 4.42183 11.5792 4.94362 12.1041C6.59043 10.4603 8.24629 8.80742 9.92024 7.13648L11.9984 5.0463L13.1324 6.13211C13.1324 6.13211 13.1566 6.12004 13.1686 6.11401C15.1623 8.10164 17.1529 10.0923 19.1104 12.0437C19.602 11.5612 20.0997 11.0725 20.6245 10.5598C20.5702 10.5146 20.4978 10.4663 20.4375 10.409C17.6928 7.67034 14.9481 4.93168 12.2035 2.19002C12.1462 2.13271 12.1039 2.06334 12.0527 2H11.9682C11.9169 2.06334 11.8747 2.13271 11.8174 2.19002Z" />
      </svg>
    </a>
  </div>
</div>
