.back-to-top {
  --offset: 70%;

  position: sticky;
  bottom: calc(var(--comparison-bar-height, 0px) + 0px);
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  inline-size: 100vw;
  pointer-events: none;
  @apply z-backToTop;

  @media print {
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    margin-inline: auto;
    padding: 1.5rem;
  }

  &__link {
    inline-size: 100vw;
    max-inline-size: 13.625rem;
    pointer-events: all;

    @media screen and (max-width: theme("screens.md")) {
      gap: 0;
      padding-inline: 1rem;
      inline-size: auto;

      svg:last-child {
        margin-inline-end: 0;
      }
    }
  }

  &__text {
    @media screen and (max-width: theme("screens.md")) {
      @apply sr-only;
    }
  }
}
