.comparison-sticky-header {
  position: sticky;
  top: 0;
  /* padding-block-start: 3rem; */
  @apply bg-neutral-10;

  &--is-unpinned &__solution,
  &--not-top &__solution {
    opacity: 1;
  }

  &__solution {
    opacity: 0;
    @mixin fluidScaleRem padding-inline, 20px, 14px;
    padding-block: 1rem;
    height: 100%;
    @apply rounded-sm;
    @apply transition-opacity;
  }

  @media (max-width: theme("screens.lg")) {
    &__heading {
      grid-row: 2;
      padding-block-start: 0;
    }

    div[role="columnheader"]:not(:first-child) {
      border-bottom: 0;
    }
  }
}
