<div data-controller="comparison-sticky-header-component--comparison-sticky-header-component"
  data-comparison-sticky-header-component--comparison-sticky-header-component-target="wrapper"
  class="comparison-sticky-header m-table__row"
  role="row">
  <div role="columnheader" class="comparison-sticky-header__heading m-table__columnheader">
    <h2 class="text-h4">
      <%= heading %>
    </h2>
  </div>
  <% comparison.comparison_items.each do |item| %>
    <div role="columnheader" class="m-table__columnheader">
      <div class="comparison-sticky-header__solution bg-brand-mint">
        <span class="line-clamp-2 text-h6"><%= item.solution.name %></span>
      </div>
    </div>
  <% end %>
</div>
