.multiselection {
  max-width: theme("maxWidth.text");

  &--free-text {
    --solution-articles-h3-padding-block-end: 0.875rem;
  }

  &__body {
    &--columns {
      padding: 2rem 2.5rem;
      background-color: theme("colors.white");
      @apply rounded-lg;
    }
  }

  &__list {
    &--default {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &--columns-2 {
      columns: 16rem auto;
      column-gap: 1.5rem;
    }

    &--columns-3 {
      columns: 11rem auto;
      column-gap: 1.5rem;
    }
  }

  &__other-label {
    font-weight: bold;
  }
}