.solution-filters {
  position: relative;
  display: grid;
  gap: 0.5rem;

  @apply mobile:block;

  @media screen and (min-width: theme("screens.xs")) {
    grid-template-columns: 1fr 1fr;
  }

  @media theme("screens.mobile.raw") {
    @apply sticky;
    top: -1px;
    margin-inline-end: calc(var(--solution-filters-padding) * -0.25);
    margin-block-start: -1rem;
    padding-block: 1rem;
    padding-inline-end: calc(var(--solution-filters-padding) * 0.25);
    overflow-y: auto;
    overscroll-behavior-y: contain;

    @supports (scrollbar-gutter: stable) {
      scrollbar-gutter: stable;
      padding-inline-end: 0;
      margin-inline-end: 0;
    }

    &--is-pinned {
      max-block-size: calc(100vh - var(--comparison-bar-height, 0px));
    }
  }

  @starting-style {
    .solution_search {
      width: 100%;
    }
  }

  .solution_search {
    width: 100%;

    /* @media (prefers-reduced-motion: no-preference) { */
    transition-property: width;
    transition-duration: theme("transitionDuration.DEFAULT");
    transition-timing: theme("transitionTimingFunction.DEFAULT");
    /* } */

    @media screen and (min-width: theme("screens.xs")) and (max-width: theme("screens.sm")) {
      &:focus-within {
        z-index: 3;
        /* position: absolute; */
        width: calc(100vw - var(--container-padding-inline) * 2);

        + .solution-mobile-filters {
          display: none;
        }
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1.4375rem;
    block-size: theme("minHeight.resultsBar");
    @apply font-header;
    @apply rounded-xxl;

    &:focus-within {
      --outline-offset: calc(var(--outline-width) * -1);
      @mixin a-default-outline;
    }
  }

  &__search-input {
    background-color: transparent;
    block-size: 3.75rem;
    inline-size: 100%;
    padding: 0;

    &:focus-visible {
      outline: 0;
    }
  }

  &__filters {
    padding: var(--solution-filters-padding) var(--solution-filters-padding) calc(1.25 * var(--solution-filters-padding));
    @apply rounded-xl;
    margin-block-start: 1rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.5rem;
    column-gap: 0.25rem;
  }
}
