.solution-mobile-filters {
  @apply mobile:hidden block min-h-resultsBar;
}

.solution-filters-dialog-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.4375rem;
  @apply font-header;
}

.solution-filters-dialog {
  position: fixed;
  inset: 0;
  inset-inline-start: auto;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: theme("screens.sm");
  max-block-size: none;
  margin: 0;
  transform: translateX(100%);
  overflow: auto;
  display: flex;
  flex-direction: column;

  /* Fallback open/close styles */
  opacity: 0;
  transition-property: opacity, overlay, display;
  transition-behavior: allow-discrete;
  transition-duration: 300ms;

  @media screen (prefers-reduced-motion: no-preference) {
    opacity: 1;
    transition-property: transform, overlay, display;
    transition-duration: 500ms;
  }

  @starting-style {
    &[open] {
      opacity: 0;
      transform: translateX(100%);
    }

    &::backdrop {
      background-color: rgba(0 0 0 / 0%);
    }
  }

  &::backdrop {
    background-color: rgba(0 0 0 / 0%);
    transition-property: background-color, overlay, display;
    transition-duration: 500ms;
    transition-behavior: allow-discrete;
  }

  &[open] {
    transform: translateX(0);
    opacity: 1;

    &::backdrop {
      background-color: rgba(0 0 0 / 80%);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-inline: var(--container-padding-inline);
    padding-block-start: 37px;
    padding-block-end: 3.75rem;
  }

  &__header {
    display: flex;
    gap: 0.75rem;
    padding-block-end: 1.5rem;
  }

  &__close {
    margin-inline-start: auto;
    margin-inline-end: -0.25rem;
    padding-block: 0;
    padding-inline: 0.25rem;
  }

  &__buttons {
    display: grid;
    gap: 0.5rem;
    padding-block-end: 1.5rem;

    @media screen and (min-width: theme("screens.xs")) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
