<div data-controller="solution-filters-select-all-component--solution-filters-select-all-component">
  <button
    type="button"
    data-solution-filters-component--solution-filters-component-target="selectAllToggle"
    data-action="click->solution-filters-select-all-component--solution-filters-select-all-component#selectAll"
    class="select-all-filters">
    <%= t(".select_all_label") %>
  </button>
</div>
