<div class="flex gap-6 rounded-xs py-4 px-6 <%= color_classes %>" role="alert" data-controller="flash-message-component--flash-message-component">
  <strong class="font-bold pt-[0.125rem]"><%= message %></strong>
  <span>
    <%= heroicon "x-mark", options: { class: "w-6 h-6 fill-current", "data-action": "click->flash-message-component--flash-message-component#close", role: "button" } %>
  </span>
</div>
