<div data-controller="comparison-blurb-cell-component--comparison-blurb-cell-component" role="cell" class="m-table__cell">
  <% if solution[name].present? %>
    <%= render ExpandableTextComponent.new(text: solution[name], truncate: 6) %>
  <% else %>
    <%= image_tag "icons/20/Minus.svg", alt: "" %>
  <% end %>
</div>
