.m-badge {
  --_badge-padding-block: 0.8125rem;
  --_badge-padding-inline: 1rem;

  display: flex;
  align-items: stretch;
  gap: 1rem;
  overflow: hidden;
  padding-block: var(--_badge-padding-block);
  padding-inline: var(--_badge-padding-inline);
  background-color: theme("colors.neutral.10");
  @apply rounded-xs;
  @apply text-xs;
  @apply font-semibold;

  &:has(span) {
    padding: 0;
    gap: 0;

    > span {
      padding-block: var(--_badge-padding-block);
      padding-inline: var(--_badge-padding-inline);
    }

    > span:has(img) {
      padding-inline: calc(var(--_badge-padding-inline) - 0.25rem);
    }
  }

  &--lg {
    --_badge-padding-block: 1.125rem;
    --_badge-padding-inline: 1.5rem;
    @apply text-base;
    @apply font-semibold;
  }

  &--sm {
    --_badge-padding-block: 0.4375rem;
    --_badge-padding-inline: 0.875rem;

    display: inline-flex;
    gap: 0.625rem;
    @apply text-xxs;
    @apply font-semibold;

    img {
      margin-inline-start: -0.25rem;
      block-size: 1rem;
    }
  }

  &--white {
    @mixin fluidScaleRem --_badge-padding-block, 16px, 12px;
    @mixin fluidScaleRem --_badge-padding-inline, 24px, 20px;

    @apply bg-white;
    @apply rounded-sm;
    @apply text-label;
  }
}
