/* See base/_appearance for base button styles */
.m-button {
  display: flex;
  align-items: center;
  border-radius: 12.5rem;
  @apply font-header;
  @apply text-label;

  @media print {
    border: 2px solid theme("colors.neutral.60");
  }

  &--center {
    justify-content: center;
  }

  &--lg {
    gap: 1rem;
    padding-block: 1.0625rem;
    padding-inline: 1.75rem;

    > svg,
    > img {
      block-size: 1.5rem;
      margin-block: -0.125rem;
    }
  }

  &--sm {
    gap: 0.6875rem;
    padding-block: 0.6563rem;
    padding-inline: 1.25rem;
    @apply font-body;
    @apply text-xs;
    @apply font-semibold;

    > svg,
    > img {
      block-size: 1rem;
    }
  }

  > svg,
  > img {
    flex: 0 0 auto;
  }
}
