.m-card {
  display: flex;
  flex-direction: column;
  background-color: theme("colors.white");
  @mixin fluidScaleRem padding, 24px, 20px;
  @apply rounded-lg;

  > * + * {
    @mixin fluidScaleRem margin-block-start, 18px, 16px;
  }
}
