.m-table {
  @apply text-xs;

  &__row {
    display: grid;
    grid-template-columns: repeat(
      var(--table-columns, auto-fit),
      minmax(var(--table-column-min, 7.5rem), 1fr)
    );

    @media print {
      --table-column-min: 25%;
    }
  }

  &__columnheader,
  &__rowheader,
  &__cell {
    padding-inline-end: 1rem;
    padding-block: 1.25rem;
  }

  &__columnheader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 0.125rem solid theme("colors.black");
  }

  &__rowheader,
  &__cell {
    border-bottom-width: 1px;
  }

  &__rowheader,
  &__columnheader:first-child {
    @media (max-width: theme("screens.lg")) {
      grid-column: 1 / -1;
      padding-block-end: 0.75rem;
    }
  }

  &__cell {
    --rte-li-margin-block-start: 0.375em;

    @media (max-width: theme("screens.lg")) {
      border-bottom-width: 0;
    }
  }

  .m-comparison-bar-item {
    margin-inline: calc(var(--_table-column-gap) * -1);
  }
}
