.form-field-wrapper {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  align-content: start;
  margin-block-end: 3rem;

  label {
    grid-row: 1;
    margin-block-end: 0.125rem;
  }

  &[hidden] {
    display: none;
  }

  &--required > label::after {
    content: "*";
    margin-inline: 0.25rem;
    color: var(--red);
  }

  &:has(.conditional-field-wrapper:not([hidden])) {
    background-color: hsl(51, 100%, 88.75%);
    box-shadow:
      0 0 0 10px hsl(51, 100%, 88.75%),
      0 0 0 11px var(--black);
  }

  :is(input, select, textarea) {
    --border-color: theme("colors.neutral.60");

    accent-color: theme("colors.white");
    border: 1px solid var(--border-color);

    &:focus {
      outline: 0;
      box-shadow: none;
      border-color: var(--border-color);
    }

    &:focus-visible {
      @mixin a-default-outline;
    }

    &::placeholder {
      color: var(--grey2);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[readonly] {
      pointer-events: none;
    }
  }

  :is(input[type=number]) {
    appearance: textfield;
  }
}

.conditional-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-block-start: 3rem;

  &[hidden] {
    display: none;
  }
}

.field-content {
  grid-row: 2;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  min-inline-size: 100%;
}

.field-meta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block-start: 0.325rem;
  font-size: 0.825rem;
  color: var(--grey2);
  line-height: 1.3;
  font-weight: 400;

  @mixin fluidScaleRem gap, 80px, 40px;

  &:not(:has(> :not([hidden]))) {
    display: none;
  }
}

.field-counter {
  flex: 0 0 auto;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  margin-inline-start: auto;
}

.wide {
  grid-column: 1 / span 2;

  @media screen and (max-width: theme("screens.md")) {
    grid-column: 1;
  }
}

.start {
  grid-column: 1;
}
