<%= turbo_frame_tag(comparison) do %>
  <section class="l-container" data-controller="comparison-component--comparison-component">
    <div class="l-container__inner grid grid-cols-comparisonList">
      <header>
        <h1 class="text-h2">
          <%= t(".title") %>
        </h1>
      </header>
      <div>
          <%= render ComparisonItemComponent.with_collection(comparison.comparison_items) %>
      </div>
    </div>
  </section>
<% end %>
