<%= turbo_frame_tag(comparison) do %>
  <div class="flex flex-col bg-white m-auto p-auto" data-controller="comparison-component--comparison-component">
    <h1 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
      <%= t(".title") %>
    </h1>
    <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
      <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10">
        <%= render ComparisonItemComponent.with_collection(comparison.comparison_items) %>
      </div>
    </div>
  </div>
<% end %>
