.comparison-wrapper {
  --table-column-min: 12.5rem;
  --table-columns: calc(var(--comparison-columns) + 1);

  @media (max-width: theme("screens.lg")) {
    --table-columns: var(--comparison-columns);
  }

  /* Always overflow x at small screens */
  @media (max-width: theme("screens.sm")) {
    overflow-x: auto;
  }

  &--col-3 {
    /* 3 * table-column-min + gap */
    @media (max-width: theme("screens.compare3")) {
      overflow-x: auto;
    }
  }

  &--col-4 {
    /* 4 * table-column-min + gap  */
    @media (max-width: theme("screens.compare4")) {
      overflow-x: auto;
    }
  }
}

.comparison-header {
  position: relative;
  padding-block-start: 2rem;
}

.comparison-row {
  display: grid;
  grid-template-columns: repeat(
    var(--table-columns, auto-fit),
    minmax(var(--table-column-min), 1fr)
  );

  @media print {
    --table-column-min: 25%;
  }

  > * {
    padding-inline-end: 1rem;
    padding-block: 1rem;

    @media (max-width: theme("screens.lg")) {
      &:first-child {
        grid-column: 1 / -1;
      }
    }
  }
}
