<%-
  # vim: set ft=ruby.eruby nosmartindent noautoindent :
-%>
# frozen_string_literal: true

class <%= class_name %> < ApplicationRecord
  include ControlledVocabularyLink

  links_vocab_with_<%= solution_kind %>! <%= vocab_name.to_sym.inspect %>
end
